<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>A&D ARQUITECTURA Y DESARROLLOS</h2> - <h3>(years)</h3>
            </li>
            <p>Realización de Informes Periciales y Tasaciones</p>
        </ul>
        <ul>
            <li>
                <h2>CASA NATURAL</h2> - <h3>(years)</h3>
            </li>
            <p>Realización de planos y renders con fotomontajes</p>
        </ul>
    </div>

</div>
